* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://image.lexica.art/full_webp/74b9b5d7-44a8-4c0c-825a-8f3582d322dc);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;

  // <uniquifier>: Use a unique and descriptive class name
  @import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

.slick-arrow {
  background-color: blueviolet;
  color: yellow;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  &:hover {
    background-color: rgb(150, 75, 219);
    color: rgb(235, 20, 20);
  }
  &:active {
    background-color: rgb(113, 40, 182);
    color: red;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body.red {
  background-image: url(https://img.lexica.art/fdcbadc9-709f-4b1f-a437-b70ce175bca5_full.webp);
}
body.blue {
  background-image: url(https://masterpiecer-images.s3.yandex.net/2f09d2e683cf11eea70fbadf81d486ab:upscaled);
}

.nav {
  .container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .wraper {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: blueviolet;
      padding-left: 10px;
      padding-right: 10px;
      @media (max-width: 800px) {
        flex-direction: column;
        text-align: center;
        padding: 20px;
      }
      .menu {
        display: flex;
        align-items: center;
        gap: 25px;
        transition: all 0.3s;
        @media (max-width: 800px) {
          width: 100%;
          max-width: 100%;
          height: 100vh;
          background-color: gray;

          background: rgba(255, 255, 255, 0.25);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          transition: all 0.5s;

          position: fixed;
          top: -100%;
          left: 0;
          z-index: 2;
        }
      }
      .burger {
        width: 50px;
        display: none;
        position: relative;
        z-index: 2;

        @media (max-width: 800px) {
          display: block;
        }
      }

      .open {
        top: 0;
      }
      .link {
        text-decoration: none;
        color: yellow;
        transition: all 0.3s;
        &:hover {
          text-decoration: underline;
          color: red;
          font-size: 20px;
        }
      }
      .users {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 15px;
        .registr {
        }
      }
      .user {
        width: 25px;
      }

      button {
      }
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: yellow;
        background-color: blueviolet;
        border: 1px solid blueviolet;

        gap: 5px;
        transition: all 0.3s;
        &:hover {
          color: red;
          cursor: pointer;
          border: 1px solid rgb(28, 27, 27);
          background-color: rgb(28, 27, 27);
        }
      }
    }
  }
}

.logo {
  width: 150px;
  margin: 50px 120px;
  border: 1px solid white;
}

.nevs {
  padding-top: 100px;

  .container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .wraper {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 16, 48);
    padding: 10px;

    gap: 50px;
    @media (max-width: 800px) {
      flex-direction: column;
      text-align: center;
      padding-top: 60px;
    }
  }
  .nevs__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    color: yellow;
    background-color: blueviolet;

    transition: all 0.3s;
    &:hover {
      color: red;
      background-color: rgb(28, 27, 27);
    }
    @media (max-width: 800px) {
      flex-direction: column;
      text-align: center;
      padding-top: 60px;
      width: 200px;
    }
  }
  // .nevs__zag

  &__zag {
    @media (max-width: 900px) {
      line-height: 100%;
      font-size: 40px;
    }

    @media (max-width: 400px) {
      font-size: 35px;
    }
  }

  // . nevs__link

  &__link {
    color: yellow;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      text-decoration: underline;
      color: red;
      font-size: 20px;
    }
  }
  // .nevs__text

  &__text {
    @media (max-width: 800px) {
      margin: 0 auto;
    }
  }

  // .nevs__box

  &__box {
  }

  // .nevs__musiq

  &__musiq {
    width: 150px;
    border: 1px solid white;

    @media (max-width: 800px) {
      width: 75px;
    }
  }
}

.header {
  .container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .wraper {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(32, 16, 48);
      padding: 10px;

      gap: 50px;
      @media (max-width: 800px) {
        flex-direction: column;
        text-align: center;
        padding: 20px;
      }
    }
  }
}

.inform {
  .container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .wraper {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(32, 16, 48);
      padding: 10px;

      gap: 50px;
      @media (max-width: 800px) {
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
      }
      .information {
        .card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid white;
          gap: 10px;
          padding: 10px;
          color: yellow;
          background-color: blueviolet;
          transition: all 0.3s;
          &:hover {
            color: red;
            background-color: rgb(28, 27, 27);
          }
          .inf {
            width: 150px;
          }
          .text {
            @media (max-width: 800px) {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

.layout {
  padding-top: 100px;
  margin: 0 auto;
  display: grid;
  grid:
    "header header header" auto
    "leftSide body rightSide" 1fr
    "footer footer footer" auto
    / auto 1fr auto;
  gap: 8px;
}

.header {
  grid-area: header;
  background-color: rgb(104, 26, 176);
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
  }
  .dok {
    color: yellow;
    transition: all 0.3s;
    cursor: pointer;
    h1 {
      padding: 50px;
      font-size: 50px;
      @media (max-width: 900px) {
        line-height: 100%;
        font-size: 40px;
      }

      @media (max-width: 400px) {
        font-size: 30px;
      }
    }
    p {
      padding: 50px;
      font-size: 25px;
      @media (max-width: 800px) {
        margin: 0 auto;
      }
    }
    :hover {
      color: red;
    }
  }
}
.leftSide {
  grid-area: leftSide;

  padding-top: 50px;
}
.body {
  grid-area: body;
  background-color: rgb(100, 13, 182);
  text-align: center;
  padding: 50px;
  color: yellow;
  transition: all 0.3s;

  .mozg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    .lino {
      font-size: 20px;
      color: yellow;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        font-size: 21px;
        text-decoration: underline;
        color: red;
      }
    }
  }
}
.rightSide {
  grid-area: rightSide;
  background-color: blueviolet;
}
.footer {
  grid-area: footer;
  background-color: rgb(168, 25, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
  img {
    width: 50px;
  }
  a {
    color: yellow;
    text-decoration: none;
  }
  .sotseti {
    display: flex;

    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }
}
.rek {
  width: 250px;
  height: 250px;
}

.dadi {
  padding-top: 100px;

  .container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .wraper {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      gap: 25px;
      padding: 10px;
      background-color: black;
      border: 1px solid white;
      transition: all 0.3s;
      color: white;

      @media (max-width: 800px) {
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
      }
      h1 {
        font-size: 35px;
        :hover {
          color: blueviolet;
          cursor: pointer;
        }
        @media (max-width: 900px) {
          line-height: 100%;
          font-size: 28px;
        }

        @media (max-width: 400px) {
          font-size: 25px;
        }
      }
      p {
        font-size: 25px;
        :hover {
          color: blueviolet;
          cursor: pointer;
        }
        @media (max-width: 700px) {
          margin: 0 auto;
          font-size: 16px;
        }
      }
      img {
        width: 250px;
        height: 250px;
      }
    }
  }
}

.box {
  width: 200px;
  height: 100vh;
  background-color: gray;
  transition: all 0.3s;

  padding: 10px;

  position: fixed;
  top: 0;
  right: -100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  @media (max-width: 700px) {
    width: 100px;
    text-align: center;
  }

  a {
    color: black;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.active {
  /* width: 100%; */
  /* border-radius: 50%; */
  /* margin-left: auto; */
  /* top: 0; */
  right: 0px;
  // position: fixed;
  // z-index: 3;
}

form {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 50px;
  background-color: red;
  color: yellow;
  @media (max-width: 700px) {
    width: auto;
  }
  p {
    color: yellow;
  }
  input {
    color: black;
    padding: 15px;
    background-color: yellow;
  }
  button {
    color: black;
    padding: 15px;
    background-color: yellow;
  }
  select {
    color: black;
    padding: 15px;
    background-color: yellow;
  }
  textarea {
    color: black;
    padding: 15px;
    background-color: yellow;
  }
}
.wraper__zol {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: row;
    text-align: center;
  }
  .red {
    color: yellow;
    background-color: blueviolet;
    transition: all 0.3s;
    padding: 10px;
    &:hover {
      color: red;
      background-color: black;
    }
  }
  .blue {
    color: yellow;
    background-color: blueviolet;
    transition: all 0.3s;
    padding: 10px;

    &:hover {
      color: red;
      background-color: black;
    }
  }
}
.zol {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-top: 0;
  padding: 10px;
}

.num {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  color: yellow;
  background-color: blueviolet;
  margin: 50px 0;
  text-align: center;

  h1 {
    transition: all 0.3s;
    &:hover {
      color: red;
      text-decoration: none;
    }
  }
  h2 {
    transition: all 0.3s;
    &:hover {
      color: red;
      text-decoration: none;
    }
  }
}
